@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
svg {
    width: 25px;
}
.bg-max{
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
    
}

.banner{
   margin: 150px 0;
}
#svg2{
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
    font-size: 60px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
}
.bacground{
    background-image: url('../img/background.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}